<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>疫情数据爬取</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>
<div class="container theme-showcase" role="main">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/static/img/picture1.jpg" data-holder-rendered="true">
          </div>

          <div class="item">
            <img src="/static/img/picture2.jpg" data-holder-rendered="true">
          </div>

          <div class="item">
            <img src="/static/img/picture3.jpg" data-holder-rendered="true">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="page-header">
        <h1>项目背景</h1>
    </div>
    <div class="well">
        <p>
            此次大作业时间算是拖了很久，原本打算做其他的，但是大连突发疫情，一切来的触不及防。
            <br/>
            对于疫情的数据还是要有一定的了解的，于是就有了这次的新冠疫情数据分析的项目。

        </p>
    </div>

    <div class="page-header">
        <h1>项目分工</h1>
    </div>
    <div class="well">
        <p>
            组长：邱雪&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负责爬取数据、实现数据可视化、编写部分代码及部分html文件
            <br/>
            组员：贾雯琪&nbsp;&nbsp;&nbsp;&nbsp;负责实现数据可视化、编写部分的代码及部分html文件
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卢京欣&nbsp;&nbsp;&nbsp;&nbsp;负责实现数据可视化、编写部分的代码及部分html文件
        </p>
    </div>

    <div class="page-header">
        <h1>项目设计</h1>
    </div>
    <div class="well">
        <p>
            开发环境IDE：Pycharm<br/>
            爬取网站：<a href="https://ncov.dxy.cn/ncovh5/view/pneumonia">丁香园</a><br/>
            Web架构：Flask<br/>
            数据库：MongoDB<br/>
            可视化：Pyecharts<br/>

        </p>
    </div>


</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
